@import "../../styles/breakpoints.sass"

.recipes.wrapper
  margin: 0 auto

  main
    margin: 0 auto
    display: flex
    flex-direction: column

    @include breakpoint($breakpoint-large)
      flex-flow: row wrap

    @include breakpoint($breakpoint-medium)
      flex-flow: row wrap

  .recipes
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    flex-direction: row

    @include breakpoint($breakpoint-large)
      max-width: 1260px
      display: flex
      padding: 0 30px
      flex-flow: row wrap

    @include breakpoint($breakpoint-medium)
      display: flex
      flex-direction: column
      flex-flow: row wrap
