// src/recipes/RecipeEditor.sass
.medium-editor-element
  &:focus
    outline: none

.recipeEditor
  display: flex
  flex-direction: column
  border-radius: .1em
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.117647), 0 1px 4px rgba(0, 0, 0, 0.117647)
  background-color: #fff
  margin: 1em .8em
  padding: 1em

  .amount
    width: 15%

  .measure
    width: 34%

  .ingredient
    width: 48%

  .error
    color: red

  .title,
  .description,
  .picture,
  .persons,
  .amount,
  .measure,
  .ingredient
    margin-bottom: 0.5em
    font-size: 0.9em

    &:focus
      outline: none

  .title
    font-size: 1.5em

  .actions
    margin-top: 1em

  button
    border: 1px solid #333
    font-size: 1.2em
    padding: .2em .3em
    background-color: #fff

    &:hover
      background-color: #eee
