@import "../../styles/breakpoints.sass"
ul
  padding: 0
.recipepage.wrapper
  header
    margin: 1em
    display: flex
    justify-content: space-between
  main
    .article.recipepage
      background-color: #fff
      width: 100%
      box-shadow: 0 1px 6px rgba(0,0,0,.117647),0 1px 4px rgba(0,0,0,.117647)
    .cover
      height: 500px
      background-size: cover
      background-position: center
    .details
      margin: 2em
      display: flex
      width: 100%
      .description
        width: 60%
      .ingredients
        width: 40%
        margin-left: 5em
