@import "../../styles/breakpoints.sass"

ul
  padding: 0

.recipepage.wrapper

  header
    margin: 1em
    display: flex
    justify-content: space-between

  main
    .article.recipepage
      background-color: #fff
      width: 100%
      box-shadow: 0 1px 6px rgba(0,0,0,.117647),0 1px 4px rgba(0,0,0,.117647)

    .cover
      height: 500px
      background-size: cover
      background-position: center



      // @media (max-width: 600px)
      //   .image
      //   display: block
      //

    .details
      margin: 2em
      display: flex
      width: 100%

      .description
        width: 60%

      .ingredients
        width: 40%
        margin-left: 5em

      // comments

    // @include breakpoint($breakpoint-large)
    //   display: flex
    //   flex-flow: row wrap
    //
    // @include breakpoint($breakpoint-medium)
    //   display: flex
    //   flex-flow: row wrap

  // .recipes
  //   display: flex
  //   flex-wrap: wrap
  //   flex-direction: row
  //   justify-content: center
  //   overflow: hidden

    //
    // @include breakpoint($breakpoint-large)
    //   display: flex
    //   flex-flow: row wrap
    //
    // @include breakpoint($breakpoint-medium)
    //   display: flex
    //   flex-flow: row wrap


    article.cookbook
      margin: .4em 1em
      background-color: #fff
      width: 200px
      padding: .8em
      border-radius: .5em
      box-shadow: 0 1px 6px rgba(0,0,0,.117647),0 1px 4px rgba(0,0,0,.117647)

      .cover
        height: 200px
        background-size: cover
        background-position: center
        border-radius: .5em
