@import "../../styles/breakpoints.sass"

.recipes.wrapper
  margin: 0 auto

  .header
    display: flex
    justify-content: center
    .banner
      display: inline-block
      align-items: center
      justify-content: center
      position: relative
      top: 0
      left: 0
      width: 100%
      height: auto
      object-fit: cover

    .search
      display: flex
      flex-wrap: wrap
      flex-direction: column
      justify-content: center
      align-items: center
      padding: 5%
      position: absolute
      top: 7vh



  .dropdowns
    display: flex
    justify-content: center

  main
    display: flex
    flex-direction: column

    // @include breakpoint($breakpoint-large)
    //   display: flex
    //   flex-flow: row wrap
    //
    // @include breakpoint($breakpoint-medium)
    //   display: flex
    //   flex-flow: row wrap

  .recipes
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: center
    overflow: hidden

    //
    // @include breakpoint($breakpoint-large)
    //   display: flex
    //   flex-flow: row wrap
    //
    // @include breakpoint($breakpoint-medium)
    //   display: flex
    //   flex-flow: row wrap
