{
  "extends": "react-app",
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "globals": {
    "wrapper": true
  }
}
