@import "../../styles/breakpoints.sass"
@import "../../styles/colors.sass"


.recipes.wrapper
  margin: 0 auto

  .header
    display: flex
    justify-content: center
    .image
      margin-bottom: 2em
    .mybanner
      display: flex
      align-items: center
      justify-content: center
      position: relative
      top: 0
      left: 0
      width: 100%
      height: 170%
      object-fit: cover

    .search
      display: flex
      flex-wrap: wrap
      flex-direction: column
      align-items: center
      padding-top: 10%

    .Title
      display: flex
      flex-wrap: wrap
      flex-direction: row
      justify-content: center
      overflow: hidden

  .createbuttons
    display: flex
    flex-flow: row wrap
    padding-left: 12%
    margin-top: 15%


  main
    display: flex
    flex-direction: column

    .subtitle
      background: $mintygreen
      width: 100%
      padding-left: 10%
      margin-top: 1em
      margin-bottom: 1em

  .recipes
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: center
    overflow: hidden


@include breakpoint($breakpoint-large)
  display: flex
  flex-flow: row wrap

@include breakpoint($breakpoint-medium)
  display: flex
  flex-flow: row wrap
