// src/components/LikeButton.sass
.LikeButton
  button
    border: 0
    background: transparent
    outline: none
    font-size: 1.5em

    .paprika
      width: 1em

    span.copy
      position: absolute
      margin-left: -1em
      z-index: -1
      opacity: 0

  .likes
    font-size: 0.8em
    color: #999



@keyframes paprika
  10%
    margin-top: 0px
    opacity: 0

  50%
    opacity: 0.8
    margin-top: -30px

  100%
    margin-top: -80px
    opacity: 0


// .paprika:hover
//   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both
//   transform: translate3d(0, 0, 0)
//   backface-visibility: hidden
//   perspective: 1000px
//
//
//
// @keyframes paprika
//   10%, 90%
//     transform: translate3d(-10px, 0, 0)
//
//
//   20%, 80%
//     transform: translate3d(20px, 0, 0)
//
//
//   30%, 50%, 70%
//     transform: translate3d(-40px, 0, 0)
//
//
//   40%, 60%
//     transform: translate3d(40px, 0, 0)
